.style1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
}
.style2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	color: #000000;
}
.style3 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	color: #000000;
}
.style4 {
	color: #0000ff;
	font-size: medium;
}
.style5 {	color: #FF9933;
	font-size: large;
}
.style8 {
	color: #999999
}
.style9 {
	font-size: large;
	color: #FF9933;
}
.style10 {
	font-size: 16px;
	color: #999999;
}